[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock


[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0


[mysql]
default-character-set = utf8

[mysqld]
user = mysql
collation-server = utf8_unicode_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
datadir = /var/lib/mysql
bind-address = {{ internal_ip }}

max-allowed-packet = 16M
max-connect-errors = 1000000

max_connections = {{ ansible_processor_vcpus * 100 }}

wait_timeout = 28800
tmp-table-size = 32M
max-heap-table-size = 32M
query-cache-type = 0
query-cache-size = 0M
thread-cache-size = 50
open-files-limit = 65535
table-definition-cache = 4096
table-open-cache = 10240

innodb-flush-method = O_DIRECT
innodb-additional-mem-pool-size = 24M
innodb-log-file-size = 1024M
innodb-file-per-table = 1
innodb-buffer-pool-size = 4096M

innodb-read-io-threads = 4
innodb-write-io-threads = 4
innodb-doublewrite = 1
innodb-log-buffer-size = 1024M
innodb-buffer-pool-instances = 8
innodb-log-files-in-group = 2
innodb-thread-concurrency = {{ ansible_processor_vcpus * 2 }}

innodb_stats_on_metadata = 0

[mysqldump]
quick
quote-names
max_allowed_packet = 16M


!includedir {{ mysql_config_dir }}
