[KEYSTONE]
auth_protocol = http
auth_host = {{ contrail_keystone_address }}
auth_port = 35357
admin_tenant_name = admin
admin_user = {{ contrail_admin_user }}
admin_password = {{ contrail_admin_password }}
insecure = False

