[DEFAULT]
heat_metadata_server_url = http://{{ internal_vip.ip }}:8000
heat_waitcondition_server_url = http://{{ internal_vip.ip }}:8000/v1/waitcondition
rpc_backend = rabbit
rabbit_host = {{ rabbit_host }}
rabbit_userid = {{ RABBIT_USER }}
rabbit_password = {{ RABBIT_PASS }}
log_dir = /var/log/heat

[database]
connection = mysql://heat:{{ HEAT_DBPASS }}@{{ db_host }}/heat
idle_timeout = 30
use_db_reconnect = True
pool_timeout = 10

[ec2authtoken]
auth_uri = http://{{ internal_vip.ip }}:5000/v2.0

[keystone_authtoken]
auth_uri = http://{{ internal_vip.ip }}:5000/v2.0
identity_uri = http://{{ internal_vip.ip }}:35357
admin_tenant_name = service
admin_user = heat
admin_password = {{ HEAT_PASS }}

